@require "../variables"

buttonComponentHeight = 50px
.buttonComponent
  position absolute
  height buttonComponentHeight !important
  width 100%
  text-transform uppercase
  margin 0 !important
  > div
    position relative
    margin-right 20px
    float left
    height buttonComponentHeight !important
    line-height buttonComponentHeight !important
    text-transform uppercase
    color colorWhite
    .icon
      float left
    .label
      float left
      margin-left 5px
      font-family 'Roboto', 'Fallback-Regular'
      font-size 16px
      width auto !important
  .RED, .GREEN, .YELLOW, .BLUE
    .icon
      width 24px
      height 100%
      background-repeat no-repeat
      background-position center center
      .image
        position absolute
        top 15px
        left 0
        width 18px
        height 18px
        border-radius 9px
  .RED
    .icon
      .image
        background-color colorRedClaro
  .GREEN
    .icon
      .image
        background-color colorGreen
  .YELLOW
    .icon
      .image
        background-color colorYellow
  .BLUE
    .icon
      .image
        background-color colorBlue
  .INFO
    .icon
      background-image url(appImagesPath + "info.png")
      background-repeat no-repeat
      background-position center center
      width 32px
      height 100%
      margin 0
  .STOP
    .icon
      background-image url(appImagesPath + "stop.png")
      background-repeat no-repeat
      background-position center center
      width 26px
      height 100%
      margin 0
  .VIEW
    .icon
      background-image url(appImagesPath + "left_right_arrows.png")
      background-repeat no-repeat
      background-position center center
      width 20px
      height 100%
      margin 0
  .FFW
    .icon
      background-image url(appImagesPath + "fast_forward.png")
      background-repeat no-repeat
      background-position center center
      width 26px
      height 100%
      margin 0
  .OK, .BACK, .EXIT
    position relative
    margin 0 25px 0 0
    width auto
    display inline-block
    float right !important
    margin-left 10px
    .icon
      font-family 'Roboto', 'Fallback-Regular'
      font-weight bold
      font-size 20px
      width 37px
      margin 0
    .label
      font-family 'Roboto-Thin', 'Fallback-Regular'
      font-size 20px
      text-transform none
      width auto !important
      margin-left 10px !important
  .OK
    .icon
      background-image url(amcoImagesPath + "icon_button_ok.png")
      background-repeat no-repeat
      background-position center center
  .BACK
    .icon
      background-image url(amcoImagesPath + "icon_button_back.png")
      background-repeat no-repeat
      background-position center center
  .EXIT
    .icon
      background-image url(amcoImagesPath + "icon_button_back.png")
      background-repeat no-repeat
      background-position center center
