@require "../variables"

playerItemWidth = 240px
playerItemGap = 26px
playerItemIndent = 226px
.imagePlayerComponent
  {initialPosition}
  width 100%
  height 100%
  background-repeat no-repeat
  background-size cover
  .fullImage
    max-width 1280px
    max-height 720px
    position relative
    top 50%
  .fullImageBackground
    text-align center
    width 100%
    height 100%
    background-color #000000
  .itemsWrapper
    position absolute
    left 0
    top 489px
    width appWidth
    height 170px
    background-image url(mediaPlayerImagesPath + "bg_player.png")
    background-repeat no-repeat
    > div
      position absolute
      width playerItemWidth
      height 135px
      top 17px
      background-size cover
      font-family 'Roboto', 'Fallback-Regular'
      font-weight bold
      font-size 40px
      line-height 135px
      text-align center
    .playerItem:nth-child(1)
      left playerItemIndent
      opacity 0.5
    .playerItem:nth-child(2)
      left playerItemIndent + playerItemWidth + playerItemGap
      opacity 0.7
    .playerItem:nth-child(3)
      left playerItemIndent + (2 * playerItemWidth) + (2 * playerItemGap)
      outline 1px solid colorBlue
    .playerItem:nth-child(4)
      left playerItemIndent + (3 * playerItemWidth) + (3 * playerItemGap)
      opacity 0.7
    .playerItem.selected
      background-color orange
