@require "../variables"

.labelComponent
  margin-bottom 15px
  font-family 'Roboto', 'Fallback-Regular'
  font-size 24px
  line-height 30px
  color colorWhite
  opacity 1
  height 34px
  div
    float left
    height 100%
