@require "../variables"

.playerComponent
  position absolute
  left 0
  top 489px
  width appWidth
  height 170px
  background-image url(mediaPlayerImagesPath + "bg_player.png")
  background-repeat no-repeat
  > div
    position absolute
  .categoryTitle
    width 690px
    height 30px
    line-height 30px
    left 550px
    top 20px
    overflow hidden
    font-family 'Roboto', 'Fallback-Regular'
    font-size 30px
    text-align center
    text-transform uppercase
    color colorWhite
    opacity 0.9
  .title
    width 345px
    height 22px
    line-height 22px
    left 705.5px
    top 53px
    font-family 'Roboto', 'Fallback-Regular'
    font-size 22px
    text-align center
    color colorWhite
    opacity 0.7
  .speed
    width 70px
    height 30px
    line-height 30px
    left 626px
    top 40px
    font-family 'Roboto', 'Fallback-Regular'
    font-size 30px
    text-align center
    color colorWhite
    opacity 0.9
    display none
    .prefix
      position absolute
      width auto
      height 100%
      left 17px
      font-family 'Roboto', 'Fallback-Regular'
      font-size 26px
      top 2px
    .value
      position absolute
      width auto
      height 100%
      left 32px
  .speedDirection
    width 17px
    height 21px
    top 46px
    left 623px
    div
      background-repeat no-repeat
      background-position center
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      visibility hidden
    .frw
      background-image url(mediaPlayerImagesPath + "frw.png")
    .ffw
      background-image url(mediaPlayerImagesPath + "ffw.png")
  .speedDirection.negative
    .frw
      visibility visible
  .speedDirection.positive
    .ffw
      visibility visible
  .elapsedTime, .duration
    width 80px
    height 18px
    line-height 18px
    left 617px
    top 74px
    font-family 'Roboto', 'Fallback-Regular'
    font-weight bold
    font-size 18px
    text-align center
    color colorWhite
    opacity 0.9
  .duration
    left initial
    right 140px
  .progressWraper
    width 345px
    height 4px
    left 705px
    top 83px
    background-color rgba(242, 242, 242, 0.5)
    overflow hidden
    .progress
      background-color colorSoftBlue
      height 100%
      width 33%
  .buttons
    text-align center
    top 106px
    left 654px
    width 450px
    > div
      display inline-block
      position relative
      float none
      width 51px
      height 51px
      margin-right 7px
  .playerButton
    div
      background-repeat no-repeat
      background-position center
      width 100%
      height 100%
      position absolute
      top 0
      left 0
    .selected, .activeSelected, .activeUnselected
      visibility hidden
  .playerButton.selected
    .selected
      visibility visible
    .unselected
      visibility hidden
  .playerButton.active
    .selected, .unselected, .activeSelected
      visibility hidden
    .activeUnselected
      visibility visible
  .playerButton.active.selected
    .selected, .unselected, .activeUnselected
      visibility hidden
    .activeSelected
      visibility visible
  .playerButton.selected.pressed
    .selected, .unselected, .activeSelected
      visibility hidden
    .activeUnselected
      visibility visible
  .playerButton.playPause.playing
    .play
      display none
    .pause
      display block
  .repeat
    .selected
      background-image url(mediaPlayerImagesPath + "repeat_selected.png")
    .unselected
      background-image url(mediaPlayerImagesPath + "repeat_unselected.png")
    .activeSelected
      background-image url(mediaPlayerImagesPath + "repeat_active_selected.png")
    .activeUnselected
      background-image url(mediaPlayerImagesPath + "repeat_active_unselected.png")
  .previous
    .selected
      background-image url(mediaPlayerImagesPath + "previous_selected.png")
    .unselected
      background-image url(mediaPlayerImagesPath + "previous_unselected.png")
    .activeSelected, .activeUnselected
      background-image url(mediaPlayerImagesPath + "previous_active_unselected.png")
  .fastRewind
    .selected
      background-image url(mediaPlayerImagesPath + "frw_selected.png")
    .unselected
      background-image url(mediaPlayerImagesPath + "frw_unselected.png")
    .activeSelected, .activeUnselected
      background-image url(mediaPlayerImagesPath + "frw_active_unselected.png")
  .play
    .selected
      background-image url(mediaPlayerImagesPath + "play_selected.png")
    .unselected
      background-image url(mediaPlayerImagesPath + "play_unselected.png")
    .activeSelected, .activeUnselected
      background-image url(mediaPlayerImagesPath + "play_active_unselected.png")
  .pause
    display none
    .selected
      background-image url(mediaPlayerImagesPath + "pause_selected.png")
    .unselected
      background-image url(mediaPlayerImagesPath + "pause_unselected.png")
    .activeSelected, .activeUnselected
      background-image url(mediaPlayerImagesPath + "pause_active_unselected.png")
  .stop
    .selected
      background-image url(mediaPlayerImagesPath + "stop_selected.png")
    .unselected
      background-image url(mediaPlayerImagesPath + "stop_unselected.png")
    .activeSelected, .activeUnselected
      background-image url(mediaPlayerImagesPath + "stop_active_unselected.png")
  .fastForward
    .selected
      background-image url(mediaPlayerImagesPath + "ffw_selected.png")
    .unselected
      background-image url(mediaPlayerImagesPath + "ffw_unselected.png")
    .activeSelected, .activeUnselected
      background-image url(mediaPlayerImagesPath + "ffw_active_unselected.png")
  .next
    .selected
      background-image url(mediaPlayerImagesPath + "next_selected.png")
    .unselected
      background-image url(mediaPlayerImagesPath + "next_unselected.png")
    .activeSelected, .activeUnselected
      background-image url(mediaPlayerImagesPath + "next_active_unselected.png")
  .shuffle
    .selected
      background-image url(mediaPlayerImagesPath + "shuffle_selected.png")
    .unselected
      background-image url(mediaPlayerImagesPath + "shuffle_unselected.png")
    .activeSelected
      background-image url(mediaPlayerImagesPath + "shuffle_active_selected.png")
    .activeUnselected
      background-image url(mediaPlayerImagesPath + "shuffle_active_unselected.png")

.playerComponent.invisible
  div
    visibility hidden !important
