@require "../variables"

.scrollableTextComponent
  overflow hidden
  position relative
  .scrollBarWrapper
    position absolute
    top 15px
    right 17px
    width 4px
    height 90% !important
    overflow hidden
    background-color rgba(45,68,80,0.2)
    .scroll
      position absolute
      width 4px
      height 40px
      top 0
      background-color colorGray
  .arrow1
    position absolute
    width 14px
    height 6px
    background-image url(appImagesPath + 'arrow_up_dark.png')
    background-repeat no-repeat
    background-position center center
    right 5px
    top 5px
  .arrow2
    position absolute
    width 14px
    height 6px
    background-image url(appImagesPath + 'arrow_down_dark.png')
    background-repeat no-repeat
    background-position center center
    right 5px
    bottom 5px
  .content
    overflow-y hidden
    overflow-x hidden
    position absolute
    font-family 'Roboto', 'Fallback-Regular'
    font-size 24px
    line-height 30px
    text-align justify !important
    text-transform none !important
    margin 0 !important
    padding-left 15px
    padding-right 8px
