@require "../variables"

.simpleListComponent
  .itemsWrapper
    .listItem
      .content
        width 100% !important
        height 100% !important
        text-align left !important
      .selector
        position absolute
        margin 0
