@require "../variables"

.spinner
  margin-bottom 15px
  font-family 'Roboto', 'Fallback-Regular'
  font-size 24px
  line-height 30px
  color colorWhite
  opacity 1
  height 34px
  div
    float left
    height 100%
  .leftArrow
    background-image url(appImagesPath + "arrow_left.png")
    background-repeat no-repeat
    width 10px
  .rightArrow
    background-image url(appImagesPath + "arrow_right.png")
    background-repeat no-repeat
    width 10px
  .content
    position relative
    width 316px
    text-align center
.spinner.selected
  .content
    color colorWhite
.spinner.nonselectable
  .content
    opacity 0.4
