@require "variables"

@font-face
  font-family 'Roboto'
  src url(fontsPath + "roboto/Roboto-Regular.ttf")
@font-face
  font-family 'Roboto-Thin'
  src url(fontsPath + "roboto/Roboto-Thin.ttf")

@font-face
  font-family 'Fallback-Regular'
  src url(fontsPath + "noto_sans/NotoSans-Regular.ttf")
