/*main app styling*/
@require "variables"

body
  // preload background image
  /*background url("../img/app/background.png")*/
  background-repeat no-repeat
  background-position -9999px -9999px
  width appWidth
  height appHeight
  position absolute
  top 0
  left 0
  margin 0
  padding 0
  overflow hidden

#app
  width appWidth
  height appHeight
  position absolute
  top 0
  left 0
  z-index 1

.standbyOverlay
  background #000000 !important
  z-index 1000000000 !important
  position absolute
  width 100%
  height 100%

.overlay
  position fixed
  top 0
  left 0
  width appWidth
  height appHeight
  background colorBlackClaroWithOpacity(0.7)
  z-index 100
.overlay.hideOverlay
  visibility hidden !important

.pcBackground
  background-image url("../img/app/pc_background.jpg")

rectangleOverlayWidth = 1230px
rectangleOverlayHeight = 480px
rectangleOverlayLeftMargin = 23px
rectangleOverlayTopMargin = 125px
blackOpacity = 0.4

.backgroundOverlay
  position absolute
  width appWidth
  height appHeight
  background-image url("../img/amco/Background_settings.jpg")
  background-repeat no-repeat
  background-position center center
  top 0
  left 0
  margin 0
  z-index 1
.rectangleOverlay
  position absolute
  width rectangleOverlayWidth
  left rectangleOverlayLeftMargin
  height rectangleOverlayHeight
  top rectangleOverlayTopMargin
  background-color gray
  opacity 0.3
  margin 0
  z-index 1
