/*utility classes, mixins, functions etc*/
.hidden
  display none !important

.invisible
  visibility hidden !important

.rightSeparator15px
  height 100%
  width 15px
  float right !important

for i in (0..100)
  .progress_{i}
    width (i)%
