/*variables*/
appWidth = 1280px
appHeight = 720px

blackOverlayOpacity = 0.4

colorRedClaro = rgba(255, 18, 13, 1)
colorGrayClaro = rgba(161, 175, 181, 1)
colorBlackClaro = rgba(0, 1, 4, 1)
colorWhite = #ffffff
colorWhiteClaro = #ECEDF2

colorRedClaroWithOpacity(transparency)
  rgba(255, 18, 13, transparency)
colorGrayClaroWithOpacity(transparency)
  rgba(161, 175, 181, transparency)
colorBlackClaroWithOpacity(transparency)
  rgba(0, 1, 4, transparency)
colorWhiteClaroWithOpacity(transparency)
  rgba(255, 255, 255, transparency)
colorMenuRectangleClaroWithOpacity(transparency)
  rgba(41, 41, 43, transparency)
colorPureBlackWithOpacity(transparency)
  rgba(0, 0, 0, transparency)

colorRed = #e2231a
colorBlue = #008eda
colorYellow = #f6d000
colorOrange = #f7941d
colorGreen = #00b042

colorSoftBlue = #359BD0
colorLightGray = #2D4450
colorGray = #0E2937 // rgba(14, 41, 55, 1)

amcoImagesPath = '../../../img/amco/'
claroImagesPath = '../../../img/claro/'
appImagesPath = '../../../img/app/'
tvGuideImagesPath = '../../../img/tvGuide/'
settingsImagesPath = '../../../img/settings/'
multimediaImagesPath = '../../../img/multimedia/'
infoBannerImagesPath = '../../../img/infoBanner/'
channelListImagesPath = '../../../img/channelList/'
ftiImagesPath = '../../../img/fti/'
recordedTvImagesPath = '../../../img/recordedTv/'
popupsImagesPath = '../../../img/popups/'
volumeBarImagesPath = '../../../img/volumeBar/'
mediaPlayerImagesPath = '../../../img/mediaPlayer/'
servicesImagesPath = '../../../img/services/'
keyboardImagesPath = '../../../img/keyboard/'
timeshiftImagesPath = '../../../img/timeshift/'
mediasetImagesPath = '../../../img/mediaset/'
fontsPath = '../fonts/'

initialPosition =
  position: absolute
  top: 0
  left: 0
