@require "../variables"

.clock
  position absolute
  height 30px
  top 540px
  right 120px
  z-index 1
  .date
    width 180px
    height 100%;
    float left;
    text-align right
    font-family 'Roboto', 'Fallback-Regular'
    font-size 17px
    line-height 30px
    color colorWhite
  .time
    width 70px
    height 100%
    float left
    text-align center
    font-family 'Roboto', 'Fallback-Regular'
    font-size 17px
    line-height 30px
    color colorWhite

.clock.extended
  top 265px
