@require "../variables"

.confirmationsWrapper
  {initialPosition}
  width appWidth
  height appHeight
  z-index 1000
  .confirmation
    position absolute
    width appWidth
    height appHeight
    top 0
    left 0
    background-color colorPureBlackWithOpacity(0.85)
    background-image none
    font-family 'Roboto', 'Fallback-Regular'
    font-size 24px
    color colorWhiteClaro
    text-align center
    .header
      width appWidth
      padding-top 270px
      padding-bottom 20px
      height 40px
      text-align center
      line-height 40px
      text-transform capitalize
      font-family 'Roboto', 'Fallback-Regular'
      font-size 32px
      font-weight bold
    .body
      width appWidth
      height auto
      text-align center
      word-wrap break-word
    .footer
      width appWidth
      height 40px
      padding-top 30px
      text-align center
      .button
        display inline-block
        height 45px
        width 220px
        line-height 42px
        font-family 'Roboto', 'Fallback-Regular'
        font-weight bold
        font-size 28px
        text-transform uppercase
        color colorWhiteClaro
        text-align center
        padding 1px
        .buttonContent
          border 2px solid colorWhiteClaroWithOpacity(0.5)
          border-radius 100px
      .left
        margin-right 10px
      .right
        margin-left 10px
      .button.selected
        border-radius 100px
        border 2px solid white
        .buttonContent
          color colorBlackClaro
          border 2px solid colorBlackClaro
          border-radius 100px
          background-color colorWhiteClaro
    .footer.bc_0
      display none
    .footer.bc_1
      .right
        display none
      .left
        margin-right 0
.confirmation.addHiddenNetwork
  width (appWidth / 2)px
  padding-left (appWidth / 2)px
  height appHeight
  right 0 !important
  top 0 !important
  left initial
  background-color colorPureBlackWithOpacity(0.87)
  .header
    padding-top 120px
    padding-bottom 70px
    width 100%
    font-size 47px
    text-align left
  .body
    width (appWidth / 2)px - 60px
    padding-right 60px
  .networkName, .networkPassword
    width 100%
    height 40px
    padding-bottom 35px
    padding-top 10px
    position relative
    > div
      float left
      height 40px
      line-height 40px
    .label
      position absolute
      width 180px
      text-align left
    .content
      width 550px
      text-align left
      color colorWhiteClaro
      border-bottom 2px solid colorWhiteClaro
    .selector
      width 585px
      height 66px
  .networkName.selected, .networkPassword.selected
    .content
      color colorWhiteClaro
  .networkName.placeholder, .networkPassword.placeholder
    .content
      font-family 'Roboto-Thin'
      font-style italic
  .buttonComponent
    position relative
    top 0
    text-align center
    padding-top 240px
    .OK, .BACK
      display inline-block
      position relative
      float none
      top 0
      left 0
      .icon
        height 100%
    .OK
      margin-right 30px
    .EXIT
      margin-left 15px
.confirmation.addHiddenNetwork.focused
  .textComponent.selected
    .selector
      border-radius 9px
      border 4px solid colorWhiteClaro
