@require "../variables"

.fingerPrint
  position absolute
  width appWidth
  height appHeight
  z-index 100000000
  .message
    position absolute
    font-family 'Roboto', 'Fallback-Regular'
    color colorWhite
  .icon
    position absolute
    bottom 40px
    right 40px
    width 140px
    height 140px
    background-image url(claroImagesPath + "logo.png")
    background-repeat no-repeat
    background-position center center
    background-size contain
