@require "../variables"

.fti.ftiWelcome
  .header
    display none
  .navigationButtons
    .back
      visibility hidden
  .message
    text-align center
    font-family 'Roboto', 'Fallback-Regular'
    font-size 24px
    line-height 24px
    text-transform uppercase
    color colorWhite
    position absolute
    top 335px
    width 100%
    height 25px
    margin 0 !important
    .label
      margin 0
      display inline-block
      float none
      font-size 40px
    .content
      display none


.fti.ftiChooseConfiguration
  font-family 'Roboto', 'Fallback-Regular'
  font-size 20px
  color #F2F2F2
  .header
    display none
  .navigationButtons
    .back
      visibility visible
  .body
    padding-top 288px !important
    opacity 0.8
    .labelComponent
      margin 0
      font-family 'Roboto', 'Fallback-Regular'
      font-size 20px
      opacity 1
      .label
        margin-left 0 !important
      .item
        opacity 1 !important
    .ftiScan, .ftiEthernetSettings, .ftiWiFiSettings
      position absolute
      .content
        background-repeat no-repeat;
        width 100%
        height 100%
        position absolute
        top 0
        left 0
    .ftiScan
      left 400px
      width 130px
      height 130px
      .content
        background-image url(amcoImagesPath + "satellite_scan.png")
        background-position center
      .label
        position absolute
        top 145px
        width 160px !important
        text-align center
        left -15px
    .ftiEthernetSettings
      right 535px
      width 130px
      height 130px
      .content
        background-image url(amcoImagesPath + "ethernet_settings.png")
        background-position center
      .label
        position absolute
        top 145px
        width 160px !important
        text-align center
        left -15px
    .ftiWiFiSettings
      right 320px
      width 130px
      height 130px
      .content
        background-image url(amcoImagesPath + "wifi_settings.png")
        background-position center
      .label
        position absolute
        top 145px
        width 160px !important
        text-align center
        left -15px
    .ftiScan.selected
      color #359BD0
      .content
        background-image url(amcoImagesPath + "satellite_scan_selected.png")
        background-position center
    .ftiEthernetSettings.selected
      color #359BD0
      .content
        background-image url(amcoImagesPath + "ethernet_settings_selected.png")
        background-position center
    .ftiWiFiSettings.selected
      color #359BD0
      .content
        background-image url(amcoImagesPath + "wifi_settings_selected.png")
        background-position center
