@require "../variables"

.infoModule
  z-index 10000
  position absolute
  width 720px
  left ((appWidth / 2) - (720px / 2))
  top ((appHeight / 2) - (460px / 2))
  background-color colorWhiteClaro
  .overlay
    z-index -1
  .header
    z-index 1
    position relative
    width 100%
    height 40px
    display none
  .body
    z-index 1
    padding-top 85px
    height 100%
    background-color colorWhiteClaro
    border-radius 5px
    > div
      margin-bottom 13px
      font-family 'Roboto', 'Fallback-Regular'
      font-size 24px
      line-height 34px
      color colorGray
      width 100%
      height 34px
    .title, .messageTitle
      z-index 1
      position absolute
      top 0
      font-family 'Roboto', 'Fallback-Regular'
      font-size 24px
      color colorWhite
      text-transform uppercase
      line-height 40px
      text-align center
      .label
        margin 0
        width 100%
        text-transform uppercase
        text-align left
        text-indent 15px
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
      .content
        display none
    .messageTitle
      top 2px
      left 2px
      width 716px
      height 62px
      background-color colorBlackClaro
      margin 0
      padding 0
      border-top-left-radius 5px
      border-top-right-radius 5px
      .label
        text-align center
        line-height 65px
        font-size 32px
    .type, .age, .language
      font-family 'Roboto', 'Fallback-Regular'
      font-size 23px
      margin-bottom 0
      .label
        margin-left 15px
        margin-right 10px
        width auto
      .content
        text-align left
        width auto
        text-transform none
        color colorRedClaro
    .description
      height 300px
      .label
        display none
      .content
        width 680px
        height 300px
      .scrollBarWrapper
        right 10px
