@require "../variables"

keyboardWidth = 355px
.keyboard
  position absolute
  width keyboardWidth
  height auto
  font-family 'Roboto', 'Fallback-Regular'
  left 125px
  top 110px
  padding 8px
  z-index 1000
  > div:not(.overlay)
    z-index 100
    position relative
  .overlay
    position fixed
    top 0
    left 0
    width appWidth
    height appHeight
    z-index 50
    visibility hidden
  .leftIndent, .rightIndent
    visibility hidden
    position absolute !important
    background-color colorWhite
    float left
    width 5px
    height 33px
  .rightIndent
    width 35px
    .icon
      background-image url(appImagesPath + "search.png")
      background-repeat no-repeat
      position absolute
      top 5px
      left 5px
      width 24px
      height 23px
  .textWrapper
    visibility hidden
    position absolute !important
    float left
    height 33px
    background-color colorWhite
    border 0
    width 435px
    font-family 'Roboto', 'Fallback-Regular'
    font-size 24px
    color colorBlackClaro
    overflow hidden
    .textContent
      position absolute
      height 33px
      div
        float left
        padding 0 1px 0 1px
      .cursor
        height 25px
        width 3px
        background-color colorRedClaro
        margin 4px 1px 4px 1px
        padding 0
      .space
        height 33px
        width 10px
  .filterWrapper
    position relative
    float left
    height 40px
    line-height 40px
    width 100%
    margin-bottom 10px
    > div
      position relative
      font-size 16px
      float left
      width 32.5%
      height 100%
      text-align center
      color colorWhiteClaro
      .selector
        position absolute
    .letters
      border 1px solid colorWhiteClaro
      border-top-left-radius 66px
      border-bottom-left-radius 66px
      .selector
        width 121px
        height 46px
        top -6px
        left -6px
        border-top-left-radius 26px
        border-bottom-left-radius 26px
    .symbols
      border-top 1px solid colorWhiteClaro
      border-bottom 1px solid colorWhiteClaro
      .selector
        width 122px
        height 45px
        top -5px
        left -6px
    .numbers
      border 1px solid colorWhiteClaro
      border-top-right-radius 66px
      border-bottom-right-radius 66px
      .selector
        width 121px
        height 46px
        top -6px
        left -6px
        border-top-right-radius 26px
        border-bottom-right-radius 26px
  .keysWrapper
    div
      font-family 'Roboto', 'Fallback-Regular'
      font-size 24px
      color colorWhite
      float left
      width 51px
      height 51px
      line-height 51px
      text-align center
      margin-top 5px
      margin-left 5px
      border 2px solid transparent
      border-radius 30px
    :nth-child(1), :nth-child(7), :nth-child(13), :nth-child(19), :nth-child(25), :nth-child(31), :nth-child(37)
      margin-left 0
  .footer
    float left
    width 100%
    height 41px
    font-family 'Roboto', 'Fallback-Regular'
    font-size 14px
    line-height 45px
    color colorWhite
    div
      float left
      height 100%
      width 33%
    .icon
      width 13px
      height 13px
      margin 16px 10px 0 20px
      border-radius (13 / 2)px
    .delete
      text-transform uppercase
      .icon
        background-color colorRed
        margin-left 22px
    .az
      .label
        min-width 25px
      .icon
        background-color colorGreen
        margin-left 37px
    .clearAll
      text-transform uppercase
      .icon
        background-color colorYellow
        margin-left 30px
    .ok
      .icon
        background-color colorBlue

.keyboard.focused
  .filterWrapper.selected
    > div.selected
      .selector
        border 3px solid colorWhiteClaro
  .keysWrapper.selected
    div.selected
      border-color colorWhiteClaro
.keyboard
  .filterWrapper
    > div.active
      background-color colorWhiteClaro
      color colorBlackClaro
.keyboard.letters
  .keysWrapper
    :nth-child(42)
      background-image url(amcoImagesPath + "icon_space.png")
      background-repeat no-repeat
      background-position center 25px
      color transparent
