@require "../variables"

.legend
  position absolute
  height 100%
  width 300px
  left 1280px
  background-color colorWhite
  .labelComponent
    font-size 18px
    margin-bottom 5px
    height 25px
    line-height 25px
    .label
      color colorWhite
      background-color colorGreen
      margin-left 5px
      width 120px
      text-align center
    .content
      color colorGray
      margin-left 5px
