@require "../variables"

loaderWidth = 550px
loaderContentHeight = 110px

.loader
  z-index 1000
  font-family 'Roboto', 'Fallback-Regular'
  font-size 32px
  position absolute
  width loaderWidth
  left ((appWidth / 2) - (loaderWidth / 2))
  top ((appHeight / 2) - (loaderContentHeight / 2))
  .header
    height 43px
    width 100%
    display none
    .icon
      position absolute
      left 15px
      top 5px
      width 40px
      height 35px
    .title
      position absolute
      height 43px
      width 100%
      text-align center
      color colorWhite
      line-height 43px
      text-transform capitalize
  .body
    min-height loaderContentHeight
    width 100%
    text-align center
    .text
      position relative
      color colorWhite
      padding 40px 15px 40px 15px
