@require "../variables"

menuWidth = 370px
menuItemHeight = 70px
menuActiveItemHeight = 70px
menuVerticalItemHeight = 70px
menuVerticalItemWidth = 400px
menuVerticalItemSelectedBorder = 2.5px
menuItemFontSIze = 24px
menuVerticalItemFontSize = 24px
verticalItemsWrapperLeftMargin = 30px


.rectangleOverlay
  .rectangleVerticalLine
    position absolute
    width 2px
    height 100%
    background-color white
    opacity 0.5
    left (menuWidth - verticalItemsWrapperLeftMargin) + 10px
.menu
  position absolute
  width menuWidth
  height 100%
  background-color colorBlackClaroWithOpacity(blackOverlayOpacity)
  background-image url(amcoImagesPath + "claro_tv.png")
  background-repeat no-repeat
  background-position 55px 45px
  z-index 100
  .menuHeader
    display none
  .menuItem
    position relative
    width 100%
    height menuActiveItemHeight
    font-family 'Roboto'
    color colorWhiteClaro
    .selector
      position absolute
      top 6px
      left 34px
      height 55px
      width 323px
      margin 0
    .itemTitle
      font-family 'Roboto-Thin'
      font-weight bold
      font-size menuItemFontSIze
      line-height menuActiveItemHeight
      text-indent 105px
      height 100%
    .verticalItemsWrapper
      visibility hidden
      position fixed
      left menuWidth
      top 0
      height 100%
      width appWidth - menuWidth - verticalItemsWrapperLeftMargin
      margin-left verticalItemsWrapperLeftMargin
      .menuVerticalItem
        position relative
        font-family 'Roboto-Thin'
        font-weight bold
        font-size menuVerticalItemFontSize
        width menuVerticalItemWidth
        height menuVerticalItemHeight
        line-height menuVerticalItemHeight
        .text
          width 100%
          height 100%
          text-indent 25px
        .menuVerticalItemBorder
          position absolute
          top 0 + (3 * menuVerticalItemSelectedBorder)
          left -(menuVerticalItemSelectedBorder)
          width menuVerticalItemWidth
          height menuVerticalItemHeight - (8 * menuVerticalItemSelectedBorder)
          border-radius 100px
          border menuVerticalItemSelectedBorder solid colorWhiteClaro
          visibility hidden
      .v_noCardInserted
        margin-top 0 !important
        margin-bottom 0 !important
        height 100% !important
        line-height appHeight !important
      .menuVerticalItem.disabled
        color colorGrayClaroWithOpacity(0.5)
      .menuVerticalItem.selected
        .text
          font-family 'Roboto'
    .verticalItemsWrapper.active
      .menuVerticalItem
        height menuVerticalItemHeight
      .menuVerticalItem.selected
        .menuVerticalItemBorder
          visibility visible
  .menuItem.selected
    .itemTitle
      font-weight 900
      font-family Roboto
    .verticalItemsWrapper
      visibility visible
  .menuItem.active
    height menuActiveItemHeight
    .itemTitle
      font-size menuItemFontSIze
      line-height menuActiveItemHeight
  .menuItem.active.selected
    .selector
      border-radius 300px
      border 2px solid colorWhiteClaro
  .itemsBackground
    position absolute
    width appWidth - menuWidth
    height 100%
    left menuWidth
    background-color colorBlackClaro
    opacity blackOverlayOpacity
.menu.level0
  .menuItem.item0
    margin-top ((appHeight - (5 * menuActiveItemHeight)) / 2) - 40px
  .menuItem.active.item0
    margin-top ((appHeight - (5 * menuActiveItemHeight)) / 2) - 40px
.menu
  .menuItem
    .itemUnselected, .itemSelected
      position absolute
      left 35px
      width 70px
      height menuActiveItemHeight
      background-repeat no-repeat
    .itemSelected
      visibility hidden
  .menuItem.active
    .itemUnselected, .itemSelected
      left 35px
      width 70px
      height menuActiveItemHeight
  .menuItem.selected
    .itemUnselected
      visibility hidden
    .itemSelected
      visibility visible

.menu
  .menuItem.AdvancedSettings
    .verticalItemsWrapper
      .menuVerticalItem.verticalItem0
        margin-top ((appHeight - (5 * menuItemHeight)) / 2) - 40px
  .menuItem.AdvancedSettings.selected
    .verticalItemsWrapper
      background-image url(amcoImagesPath + "icon_large_advancesettings.png")
      background-repeat no-repeat
      background-position 420px 230px
  .menuItem.Installation
    .verticalItemsWrapper
      .menuVerticalItem.verticalItem0
        margin-top ((appHeight - (5 * menuItemHeight)) / 2) - 40px
  .menuItem.Installation.selected
    .verticalItemsWrapper
      background-image url(amcoImagesPath + "icon_large_Installation.png")
      background-repeat no-repeat
      background-position 420px 230px
  .menuItem.NetworkManager
    .verticalItemsWrapper
      .menuVerticalItem.verticalItem0
        margin-top ((appHeight - (5 * menuItemHeight)) / 2) - 40px
  .menuItem.NetworkManager.selected
    .verticalItemsWrapper
      background-image url(amcoImagesPath + "icon_large_networkmanager.png")
      background-repeat no-repeat
      background-position 420px 230px
  .menuItem.CAInformation
    .verticalItemsWrapper
      .menuVerticalItem.verticalItem0
        margin-top ((appHeight - (5 * menuItemHeight)) / 2) - 40px
  .menuItem.CAInformation.selected
    .verticalItemsWrapper
      background-image url(amcoImagesPath + "icon_large_CAS.png")
      background-repeat no-repeat
      background-position 420px 260px
  .menuItem.SWUpdate
    .verticalItemsWrapper
      .menuVerticalItem.verticalItem0
        margin-top ((appHeight - (5 * menuItemHeight)) / 2) - 40px
  .menuItem.SWUpdate.selected
    .verticalItemsWrapper
      background-image url(amcoImagesPath + "icon_large_software_update.png")
      background-repeat no-repeat
      background-position 420px 230px

  /*icons*/
  .menuItem.active.Installation
    .itemUnselected
      background-image url(amcoImagesPath + "icon_installation.png")
      background-position center center
    .itemSelected
      background-image url(amcoImagesPath + "icon_installation_selected.png")
      background-position center center
  .menuItem.active.NetworkManager
    .itemUnselected
      background-image url(amcoImagesPath + "icon_networkmanager.png")
      background-position center center
    .itemSelected
      background-image url(amcoImagesPath + "icon_networkmanager_selected.png")
      background-position center center
  .menuItem.active.AdvancedSettings
    .itemUnselected
      background-image url(amcoImagesPath + "icon_advancesettings.png")
      background-position center center
    .itemSelected
      background-image url(amcoImagesPath + "icon_advancesettings_selected.png")
      background-position center center
  .menuItem.active.SWUpdate
    .itemUnselected
      background-image url(amcoImagesPath + "icon_softwareupdate.png")
      background-position center center
    .itemSelected
      background-image url(amcoImagesPath + "icon_softwareupdate_selected.png")
      background-position center center
  .menuItem.active.CAInformation
    .itemUnselected
      background-image url(amcoImagesPath + "icon_CAS.png")
      background-position center center
    .itemSelected
      background-image url(amcoImagesPath + "icon_CAS_selected.png")
      background-position center center


  .menuItem.Installation
    .itemUnselected
      background-image url(amcoImagesPath + "icon_installation.png")
      background-position center center
    .itemSelected
      background-image url(amcoImagesPath + "icon_installation_selected.png")
      background-position center center
  .menuItem.NetworkManager
    .itemUnselected
      background-image url(amcoImagesPath + "icon_networkmanager.png")
      background-position center center
    .itemSelected
      background-image url(amcoImagesPath + "icon_networkmanager_selected.png")
      background-position center center
  .menuItem.AdvancedSettings
    .itemUnselected
      background-image url(amcoImagesPath + "icon_advancesettings.png")
      background-position center center
    .itemSelected
      background-image url(amcoImagesPath + "icon_advancesettings_selected.png")
      background-position center center
  .menuItem.SWUpdate
    .itemUnselected
      background-image url(amcoImagesPath + "icon_softwareupdate.png")
      background-position center center
    .itemSelected
      background-image url(amcoImagesPath + "icon_softwareupdate_selected.png")
      background-position center center
  .menuItem.CAInformation
    .itemUnselected
      background-image url(amcoImagesPath + "icon_CAS.png")
      background-position center center
    .itemSelected
      background-image url(amcoImagesPath + "icon_CAS_selected.png")
      background-position center center
