@require "../variables"

.notificationsWrapper
  position absolute
  top 0
  left 80px
  width 500px
  height auto
  z-index 1000000
  padding 0
  overflow hidden
  .notification
    opacity 0.95
    padding 10px 10px 10px 10px
    min-height 50px
    margin-top 4px
    text-align center
    font-family 'Roboto', 'Fallback-Regular'
    font-size 16px
    text-transform uppercase
    overflow hidden
    color colorLightGray
    background-color colorWhite
    display -webkit-flex
    -webkit-flex-align center
    -webkit-align-items center
    -webkit-justify-content center
