@require "../variables"

asyncPopupContentPadding = 20px
asyncPopupWidth = 550px
permanentPopupWidth = 500px
footerPadding = 20px
.permanentInformationsWrapper
  {initialPosition}
  width appWidth
  height appHeight
  z-index 2
  .permanentInformation
    opacity 1
    position absolute
    width permanentPopupWidth
    height auto
    background-color colorBlackClaroWithOpacity(0.9)
    top 260px
    font-family 'Roboto', 'Fallback-Regular'
    font-size 24px
    border 2px solid colorWhite
    border-radius 15px
    margin-left auto
    margin-right auto
    float none
    left 0 !important
    right 0 !important
    .header
      width 100%
      height 43px
      text-align center
      color colorWhite
      line-height 43px
      text-transform capitalize
    .body
      font-size 17px
      width permanentPopupWidth - 2 * asyncPopupContentPadding
      min-height  109px - 2 * asyncPopupContentPadding
      color colorWhite
      padding asyncPopupContentPadding
      text-align center
      word-wrap break-word
      span
        display block
        text-align right
    .footer
      width asyncPopupWidth
      height 80px - footerPadding
      padding-top footerPadding
      text-align center
      background-color colorWhite
      .button
        display inline-block
        height 24px
        line-height 24px
        font-family 'Roboto', 'Fallback-Regular'
        font-weight bold
        font-size 24px
        text-transform uppercase
        color colorLightGray
        text-align center
      .left
        margin-right 30px
      .right
        margin-left 30px
      .button.selected
        color colorSoftBlue

  .permanentInformation.ageLock, .permanentInformation.channelLock, .permanentInformation.ageParentalLock
    top ((appHeight - 250px) / 2)px !important
    .header
      font-size 32px
      line-height 32px
      height 32px
      margin-top 15px
      font-weight bold
    .programRating, .cardLevel, .enterCaPin
      display inline-block
      width 100%
      margin-bottom 0
      text-align center
      .label
        display inline-block
        float none
        margin-left 15px
      .content
        display inline-block
        float none
        margin-left 20px
    .enterCaPin
      margin 15px 0 0 0
      .label
        width 100%
        margin 0
      .content
        display none
  .permanentInformation.ageLock
    top ((appHeight - 312px) / 2)px !important
    width 600px !important
    .body
      width (600 - 2 * asyncPopupContentPadding)px !important
  .permanentInformation.ageLock, .permanentInformation.channelLock, .permanentInformation.ageParentalLock, .permanentInformation.ppvViewingDialog, .permanentInformation.tokensAccess
    .buttonComponent
      text-align center
      position relative
      top 10px
      left 0
      .OK
        margin-right 20px
      .OK, .EXIT
        display inline-block
        float none
        position relative
        top 0
        left 0
    .pin
      .content
        width 100%
        text-align center
        > div
          position relative
          display inline-block
          float none
          width 32px
          height 42px
          background-color colorRedClaro
          .underscore
            visibility hidden
            position absolute
            height 2px
            width 19px
            bottom 4px
            left 7px
            background-color colorWhite
        > div.selected
          .underscore
            visibility visible
        div.filled
          background-image url(appImagesPath + "pin.png")
          background-repeat no-repeat
          background-position center
          background-size 19px
        .statusWrapper
          position absolute
          top 0
          left 215px
          width 34px
          height 100%
          .good, .bad
            position absolute
            top 0
            left 0
            background-repeat no-repeat
            background-position center
            width 100%
            height 100%
          .good
            background-image url(appImagesPath + "pin_true.png")
          .bad
            background-image url(appImagesPath + "pin_false.png")
  .permanentInformation.channelLock
    top ((appHeight - 184px) / 2)px !important

  .permanentInformation.orderInfo
    .productName, .currency, .cost
      margin 0
      padding 0
      display inline-block
      margin-right 15px
      .label
        display none

  .permanentInformation.ppvViewingDialog
    height auto
    top 120px !important
    .program, .minutes
      margin 0
      padding 0
      display inline-block
      margin-right 15px
      div
        display inline-block
        float none
    .program
      .label
        display none
    .pin
      margin-top 20px
      .label
        margin-bottom 10px
    .buttonComponent
      text-align center
      position relative
      top 10px
      left 0
      .OK
        margin-right 20px
      .OK, .EXIT
        display inline-block
        float none
        position relative
        top 0
        left 0

  .permanentInformation.tokensAccess
    height 325px
    top 120px !important
    .name, .cost
      margin 0
      padding 0
      .label
        width 100%
        text-align center
      .content
        display none
    .amount
      margin 0
      padding 0
      text-align center
      div
        display inline-block
        float none
    .additionalText
      height auto
      overflow hidden
      margin-top 40px
      .label
        height auto
    .pin
      margin-top 20px
      .label
        margin-bottom 10px
    .buttonComponent
      text-align center
      position relative
      top 10px
      left 0
      .OK
        margin-right 20px
      .OK, .EXIT
        display inline-block
        float none
        position relative
        top 0
        left 0

.permanentInformationsWrapper.invisible
  .underscore
    visibility hidden !important
