@require "../variables"

.pinEntry
  position absolute
  width 288px
  height auto
  top 50%
  border 3px solid colorWhite
  border-radius 10px
  -webkit-transform translateY(-50%)
  left ((appWidth - 288) / 2)px
  .header
    height 40px
    width 100%
    color colorBlackClaro
    background-color colorWhite
  .body
    border-bottom-left-radius 10px
    border-bottom-right-radius 10px
    padding 0 0 15px 0
    margin 0
    background-color colorBlackClaro
    height auto
    width 100%
    position relative
    .programRating, .cardLevel, .enterCaPin
      height 40px
      line-height 40px
      color colorWhite
      display inline-block
      width 100%
      margin-bottom 0
      text-align center
      .label
        display inline-block
        float none
        margin-left 15px
      .content
        display inline-block
        float none
        margin-left 20px
    .programRating
      margin-top 15px
    .enterCaPin
      margin 15px 0 0 0
      .label
        margin 0
        width 100%
        text-align center
      .content
        display none
    .title
      text-align center
      position absolute
      top -40px
      height 40px
      width 100%
      margin 0
      color colorBlackClaro
      .label
        width 100%
      .content
        width 100%
        height 100%
        line-height 40px
        padding 0
    .pin
      .content
        width 100%
        text-align center
        > div
          position relative
          display inline-block
          float none
          width 32px
          height 42px
          background-color colorRedClaro
          .underscore
            visibility hidden
            position absolute
            height 2px
            width 19px
            bottom 4px
            left 7px
            background-color colorWhite
        > div.selected
          .underscore
            visibility visible
        div.filled
          background-image url(appImagesPath + "pin.png")
          background-repeat no-repeat
          background-position center
          background-size 19px
      .statusWrapper
        position absolute
        top 0
        left 215px
        width 34px
        height 100%
        .good, .bad
          position absolute
          top 0
          left 0
          background-repeat no-repeat
          background-position center
          width 100%
          height 100%
        .good
          background-image url(appImagesPath + "pin_true.png")
        .bad
          background-image url(appImagesPath + "pin_false.png")

.pinEntry.ageLocked
  width 475px
  left ((appWidth - 475) / 2)px
  .header
    .title
      padding 10px
      line-height initial
      span
        display block
        text-align right
  .body
    .statusWrapper
      left 297px
.pinEntry.pinBlocked
  .pin
    .content
      > div
        background-image none
      .underscore
        visibility hidden !important
