@require "../variables"

.genericScreen.settings, .genericScreen.fti
  background-color colorBlackClaroWithOpacity(blackOverlayOpacity)
  background-image url(amcoImagesPath + "claro_tv.png")
  background-repeat no-repeat
  background-position 55px 45px
  width 100%
  height 100%
  position absolute
  z-index 100
  > .body
    padding-top 150px
    > div
      margin-bottom 15px
      font-family 'Roboto', 'Fallback-Regular'
      font-size 24px
      line-height 45px
      color colorWhite
      margin-left 55px
      height 45px
      div
        float left
        height 100%
      .label
        width 300px
      .label:first-letter
        text-transform uppercase
      .item, .content
        position relative
        width 316px
        text-align center
        .progressWrapper
          position absolute
          height 4px
          width 261px
          top 32px
          left 27px
          background-color colorWhite
          opacity 0.95
          overflow hidden
          .progress
            background-color colorRedClaro
            width 66%
        .progressValueWrapper
          position absolute
          height 100%
          font-size 22px
          line-height 34px
          width 100%
          text-align center
          top 0
          div
            display inline
            float none
          .item
            margin-right 3px
            width auto
          .status
            display none
      .leftArrow
        background-image url(amcoImagesPath + "icon_leftarrow.png")
        background-repeat no-repeat
        background-position center center
        width 10px
      .rightArrow
        background-image url(amcoImagesPath + "icon_rightarrow.png")
        background-repeat no-repeat
        background-position center center
        width 10px
    .progressComponent
      width 675px
      border 2.5px solid transparent
      border-radius 66px
      .label
        margin-left 20px
    .progressComponent.selected
      border 2.5px solid #D8D8D8
      font-weight 900
    .spinner
      width 675px
      border 2.5px solid transparent
      border-radius 66px
      .label
        margin-left 20px
    .spinner.selected
      border 2.5px solid #D8D8D8
      font-weight 900
    .labelComponent
      .label
        width 363px
        margin-left 20px
      .item
        font-family 'Roboto', 'Fallback-Regular'
        opacity 0.5
        text-align left
    .passwordComponent
      position relative
      width 675px
      border 2.5px solid transparent
      border-radius 66px
      .label
        margin-left 20px
      .content
        width 336px
        > div
          position relative
          float left
          height 30px
          width 45px
          margin-left 20px
          border-bottom 1.5px solid colorWhite
        > div.filled
          background-image url(amcoImagesPath + "icon_hiddenpassword.png")
          background-repeat no-repeat
          background-position center center
        .item0
          margin-left 90px
    .passwordComponent.nonselectable
      .content
        > div
          background-color rgba(242, 242, 242, 0.15)
    .passwordComponent.selected
      border 2.5px solid #D8D8D8
    .durationComponent, .numberComponent, .integerComponent
      width 675px
      border 2.5px solid transparent
      border-radius 66px
      .leftArrow, .rightArrow
        visibility hidden
      .label
        margin-left 20px
      .content
        > div
          position relative
          display inline
          float none
          line-height 34px
        .separator
          width auto
    .durationComponent.selected, .numberComponent.selected, .integerComponent.selected
      border 2.5px solid #D8D8D8
      font-weight 900
    .numberComponent, .integerComponent
      .content
        width 335px
        color colorWhiteClaro
        border-bottom 1px solid colorWhiteClaro
        padding-bottom 1px
    .ipAddressComponent
      width 675px
      border 2.5px solid transparent
      border-radius 66px
      .label
        margin-left 20px
      .leftArrow, .rightArrow
        display none
      .content
        width 335px
        > div
          position relative
          float left
          height 26px
          width 45px
          margin-left 15px
          margin-top 4px
          padding-bottom 10px
          border-bottom 1.5px solid colorWhite
        .item0
          margin-left 20px
        .separator
          width 10px
          margin-left 15px
          border none
    .timeComponent
      .content
        > div
          float none
          display inline-block
    .durationComponent.selected, .timeComponent.selected
      .selected
        text-decoration underline
      .content
        > div
          color colorSoftBlue
    .ipAddressComponent.selected
      border 2.5px solid #D8D8D8
      font-weight 900
      .content
        > div
          color #25A4DA
        .selected
          color colorWhite
          background-color #25A4DA
    .ipAddressComponent.nonselectable
      .content
        opacity 0.4
    .durationComponent
      .leftArrow, .rightArrow
        visibility visible
    .listComponent
      position absolute
      margin 0
      height auto
      .itemsWrapper
        visibility hidden
        margin-top 80px
        .listItem
          margin-left 180px
          width appWidth - 180px
          height 64px
          line-height 64px
          .label
            float left
          .value
            float left
          .label:first-letter
            text-transform uppercase
      .listsWrapper
        position absolute
        height 54px
        width 100px
        padding-right 5px
        background-color rgba(242, 242, 242, 0.2)
        line-height 54px
        color colorWhite
        text-align right
        font-family 'Roboto', 'Fallback-Regular'
        font-size 22px
    for i in (0..10)
      .listComponent:nth-child({i+1})
        .listsWrapper
          left (i * 105px) + (i * 3px) + 180px
    .listComponent.selected
      .listsWrapper
        background-color rgba(242, 242, 242, 0.9)
        color colorGray
      .itemsWrapper
        visibility visible
    .numberComponent.selected, .integerComponent.selected
      .content
        > div
          font-weight 900
    .numberComponent.nonselectable, .integerComponent.nonselectable
        opacity 0.3
        > div
          opacity 0.3
    .buttonComponent
      width appWidth - 75px - 60px
      padding-left 75px
      padding-right 60px
      top 640px
    .traversableListComponent
      height auto
  .labelComponent.applicationIcon
    position absolute
    top 40px
    left 220px
    margin 0
    opacity 1 !important
    .label
      display none
      position absolute
      background-repeat: no-repeat
      opacity 0.7
      left 180px
      top 50px
      width 52px !important
      height 52px !important
    .content
      position absolute
      font-family 'Roboto', 'Fallback-Regular' !important
      font-size 32px;
      font-weight 900
      color colorWhite
      width 450px
      opacity 1

/*.settings.languageSettings, .fti.languageSettings*/
/*.applicationIcon*/
/*.label*/
/*background-image url(settingsImagesPath + "language_settings.png")*/
.settings.videoSettings
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "video_settings.png")
.settings.audioSettings
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "audio_settings.png")
  .body
    .digitalAudioOutput
      .content.officialDolby
        background-image url(appImagesPath + "dolby_official_unselected.png")
        background-repeat no-repeat
        background-position center center
        color transparent
    .digitalAudioOutput.selected
      .content.officialDolby
        background-image url(appImagesPath + "dolby_official.png")
.settings.videoSettings.live, .settings.audioSettings.live
  height 120px
  bottom 0
  position absolute
  background-image none
  .header
    .icon
      height 100%
      top 0
      background-position center
    .title
      visibility hidden
  .body
    padding-top 45px
    .buttonComponent
      top 45px

.settings.parentalControl
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "parental_control.png")
      background-size contain

.settings.enterPin
  position absolute
  width appWidth
  height appHeight
  top 0
  left 0
  background-color colorPureBlackWithOpacity(0.85)
  background-image none
  .header
    height 43px
    width 100%
    .title
      position absolute
      width 100%
      top 0
      left 0
      font-family 'Roboto', 'Fallback-Regular'
      font-size 24px
      color colorWhite
      text-align center
      line-height 43px
      text-transform uppercase
  .body
    padding 0
    margin 250px 0 0 0
    height auto
    width 100%
    text-align center
    .passwordComponent
      margin 0
      display inline-block
      .label
        top -30px
        position absolute
        text-align center
        text-transform uppercase
        width 100%
        font-size 32px
        font-weight bold
        margin 0
      .content
        width 100%
        margin-top 33px
        .item0
          margin-left 215px
      .statusWrapper
        left 199px
        top 33px
    .passwordComponent.selected
      border none

.settings.administration
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "administration.png")
      width 53px
      height 53px

.settings.timezone
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "administration.png")
      width 53px
      height 53px

.settings.updateChangeChannelList
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "astra_scan.png")
  .body
    .startClaroScan
      .label
        color colorRedClaro
    .lastScanningInformation
      margin-top 50px
      .label
        text-transform uppercase
    .updateChangeChannelList
      .label
        width auto
        margin-right 30px

.settings.channelScan, .fti.channelScan
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "channel_search.png")
      background-position center bottom
  > .body
    .labelComponent
      margin-left 23px
      margin-right 27px
      .label
        margin-left 30px
      div
        opacity 1
    .title
      margin-bottom 0
      div
        text-transform uppercase
        font-family 'Roboto', 'Fallback-Regular'
        font-size 28px
    .found, .foundTv, .foundRadio
      height 72px
      line-height 72px
      border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
      .label
        line-height 72px
      .content
        line-height 72px
    .found
      border-top 2px solid colorGrayClaroWithOpacity(0.1)
      font-size 22px
    .frequency
      position absolute
      top 215px
      div
        font-family 'Roboto-Thin', 'Fallback-Regular'
        font-size 22px
      .label
        width auto
        margin-right 10px
    .found
      text-transform uppercase
      margin-bottom 0
      margin-top 50px
    .foundTv, .foundRadio
      margin-bottom 0
      div
        font-family 'Roboto-Thin', 'Fallback-Regular'
        font-size 22px
      .label
        width auto
        margin-right 10px
    .scanProgress
      margin 0
      padding 0
      border 0
      width 100%
      height 30px
      .leftArrow, .rightArrow
        display none
      .label, .progressValueWrapper
        position absolute
        font-family 'Roboto-Thin', 'Fallback-Regular'
        font-size 22px
      .label
        height auto
        right 115px
        top 215px
        text-align right
      .content
        margin-left 53px
        width 1169px
        .progressValueWrapper
          width 100px
          right -57px
          text-align left
          top 27px
          color #359BD0
        .progressWrapper
          height 5px
          width 100%
          left 0
          top 8px

satelliteScanItemHeight = 66.5px
.settings.satelliteScan
  .body
    padding-top 125px
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "satellite_scan.png")
      background-position bottom left
  > .body
    > div
      opacity 1
    .satelliteList, .transponderList
      display none
      position absolute
      height auto
      width 770px - 22px
      margin 0
      left 23px
      border-right 2px solid colorGrayClaroWithOpacity(0.1)
      .counter
        position absolute
        top -28px
        right 0
        height 20px
        font-family 'Roboto', 'Fallback-Regular'
        font-size 20px
        color colorWhite
        width 770px
        div
          opacity 0.8
          position relative
          float right
          height 100%
          line-height 20px
          margin-left 4px
        .countTitle:first-letter
          text-transform uppercase
        .countWhat
          display none
        .current
          width 30px
          text-align right
      .listItem
        position relative
        height satelliteScanItemHeight
        width 100%
        border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
        font-family 'Roboto', 'Fallback-Regular'
        font-size 22px
        color colorWhite
        .selector
          position absolute
          height 40px
          width 725px
          margin 0
          top 10px
          left 10px
        div
          float left
          margin-left 35px
          height 100%
          line-height satelliteScanItemHeight
        .index
          display inline-block
          width 40px
        .value
          display inline-block
          min-width 660px
          margin-left 5px
      .listItem.selected
        font-weight 900
        .selector
          border-radius 300px
          border 2px solid colorWhiteClaro
    .satelliteList.selected, .transponderList.selected
      display initial !important

    .satelliteDetailsWrapper
      position absolute
      right 27px
      width 480px
      height auto
      margin 0
    .detailsTitle, .carrier, .service, .lnb, .tp, .signal, .quality
      position relative
      width 100%
      height satelliteScanItemHeight
      margin 0
      font-family 'Roboto', 'Fallback-Regular'
      border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
      .label
        line-height satelliteScanItemHeight !important
        margin-left 15px
        width 150px
      .content
        width 305px
        line-height satelliteScanItemHeight !important
    .detailsTitle
      .label
        display none
      .content
        width 460px
        margin-left 15px
        line-height 54px
        opacity 1
    .carrier
      position relative
    .service
      position relative
    .lnb
      position relative
    .tp
      position relative
    .signal, .quality
      .label
        width 150px
        height auto
        margin 0
        text-indent 15px
        top 0
        position absolute
        text-transform uppercase
      .leftArrow, .rightArrow
        display none
      .content
        margin-left 150px
        .progressWrapper
          top 31px
          left 15px
          width 220px
        .progressValueWrapper
          position absolute
          width 80px
          height auto
          top 17px
          left 250px
          font-size 20px
          opacity 0.5
          .item, .unit
            float left
          .status
            display initial
            color colorBlue
    .signal
      position relative
      height satelliteScanItemHeight
      border-radius 0
      border none
      border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
    .quality
      position relative
      height satelliteScanItemHeight
      border-radius 0
      border none
      border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
  > .footer
    display initial
    bottom 25px

.satelliteSetup, .transponderSetup
  z-index 100
  position absolute
  width 650px
  top ((appHeight / 2) - (350px / 2))
  left ((appWidth / 2) - (650px / 2))
  background-color colorBlackClaroWithOpacity(0.9)
  border 2px solid colorWhite
  .header
    position relative
    width 650px
    height 40px
  .body
    background-color colorWhite
    padding-top 36px
    padding-bottom 20px
    overflow hidden
    > div
      margin-bottom 13px
      font-family 'Roboto', 'Fallback-Regular'
      font-size 24px
      line-height 34px
      color colorGray
      width 100%
      height 34px
      div
        float left
        height 100%
      .label
        width 250px
        margin-left 47px
        text-transform capitalize
      .content
        .progressValueWrapper
          .status
            display none
        div
          display inline
          float none
      .item, .content
        width 250px
        text-align center
        margin-left 10px
      .leftArrow
        background-image url(amcoImagesPath + "icon_leftarrow.png")
        background-repeat no-repeat
        background-position center center
        width 10px
        margin-left 10px
      .rightArrow
        background-image url(amcoImagesPath + "icon_rightarrow.png")
        background-repeat no-repeat
        background-position center center
        width 10px
        margin-left 10px
    > div.selected
      .item, .content
        color colorRedClaro
    .satelliteName
      .content
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
    .timeComponent.selected, .dateComponent.selected, .durationComponent.selected
      .selected
        text-decoration underline
    .type
      .item
        text-transform uppercase
    .textComponent, .integerComponent
      .content
        width 290px
        background-color rgba(53, 155, 208, 0.4)
    .title
      position absolute
      top 0
      height 40px
      color colorWhite
      line-height 40px
      .label
        display none
      .content
        width 100%
        margin 0
        text-transform uppercase

.transponderSetup
  top ((appHeight / 2) - (540px / 2))
  .signalStrength
    .content
      width 290px !important
      position relative
      .progressWrapper
        position absolute
        height 4px
        width 237px
        top 16px
        left 0
        background-color colorGray
        opacity 0.95
        overflow hidden
        .progress
          background-color colorRedClaro
          width 0
          float left
    .progressValueWrapper
      float right !important
      font-family 'Roboto', 'Fallback-Regular'
      font-size 20px
      line-height 34px
    .leftArrow, .rightArrow
      display none


.settings.antennaConfiguration, .fti.antennaConfiguration
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "antenna_configuration.png")
  .motorSetupIcon
    .BLUE
      position absolute
      top -265px
      right 290px

.settings.motorSetup, .fti.motorSetup
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "antenna_configuration.png")
  .progressComponent
    .leftArrow, .rightArrow
      display none
    .content
      .progressWrapper
        left 0 !important
        top 16px
        width 335px !important
      .progressValueWrapper
        position absolute
        width auto !important
        top 11px !important
        left 350px !important
        font-family 'Roboto', 'Fallback-Regular'
        font-size 20px
        line-height 34px
        text-align left

.settings.singleUnicableSetup, .fti.singleUnicableSetup
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "antenna_configuration.png")
  .progressComponent
    .leftArrow, .rightArrow
      display none
    .content
      .progressWrapper
        left 0
        top 16px
        width 316px
        .progress
          background-color colorGreen
        .progress.p33
          background-color colorRed
        .progress.p66
          background-color #F7931E
      .progressValueWrapper
        position absolute
        left 340px
        top 0
        font-family 'Roboto', 'Fallback-Regular'
        font-size 20px
        line-height 34px
        text-align left
  .integerComponent
    margin 0
    position absolute
    left 860px
    background-color transparent
    .label
      display none
  .satCR0Frequency
    top 199px
  .satCR1Frequency
    top 249px
  .satCR2Frequency
    top 298px
  .satCR3Frequency
    top 348px
  .satCR4Frequency
    top 398px
  .satCR5Frequency
    top 446px
  .satCR6Frequency
    top 495px
  .satCR7Frequency
    top 543px
  .integerComponent.p33
    background-color colorRed
  .integerComponent.p66
    background-color #F7931E
  .integerComponent.p100
    background-color colorGreen

.settings.satelliteConfiguration
  .header
    .icon
      background-image url(settingsImagesPath + "satellite_scan.png")

.settings.manualScan:not(.channelScan)
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "manual_scan.png")
  .body
    .frequency, .symbolRate, .polarization
      .label
        width 300px !important
      .content
        color colorWhite
        opacity 0.7
        width 332px
        text-align center !important
    .quality
      .label
        text-transform uppercase
      .leftArrow, .rightArrow
        display none
      .content
        width 600px
        .progressWrapper
          left 0
          width 336px
        .progressValueWrapper
          position absolute
          left 355px
          top 0
          width auto
          text-align left
          div
            float left
            font-family 'Roboto', 'Fallback-Regular'
            font-size 20px
          .status
            display block
            margin-left 10px
            font-family 'Roboto', 'Fallback-Regular'
            color colorSoftBlue
  .progressComponent
    .leftArrow, .rightArrow
      display none
    .content
      .progressWrapper
        left 0
        top 16px
        width 316px
      .progressValueWrapper
        position absolute
        left 340px
        top 0
        font-family 'Roboto', 'Fallback-Regular'
        font-size 20px
        line-height 34px
        text-align left

.settings.service
  .body
    .swVersion
      margin-bottom 30px
    .col1, .col2, .col3, .col4
      position absolute
      margin 0
      .label
        width 100px
        text-align center
      .content
        display none
    .col1
      left 350px
    .col2
      left 450px
    .col3
      left 900px
    .col4
      left 1000px
    .frequency1, .frequency2, .frequency3, .frequency4, .frequency5, .frequency6, .frequency7, .frequency8, .frequency9, .frequency10, .frequency11, .frequency12
      position absolute
      .label
        width 150px
      .content
        display none
    .frequency7, .frequency8, .frequency9, .frequency10, .frequency11, .frequency12
      margin-left 750px
    .frequency1Values, .frequency2Values, .frequency3Values, .frequency4Values, .frequency5Values, .frequency6Values, .frequency7Values, .frequency8Values, .frequency9Values, .frequency10Values, .frequency11Values, .frequency12Values
      position absolute
      margin-left 350px
      .label, .content
        width 100px
        text-align center
        color colorWhite
        opacity 1
        font-family 'Roboto', 'Fallback-Regular'
    .frequency7Values, .frequency8Values, .frequency9Values, .frequency10Values, .frequency11Values, .frequency12Values
      margin-left 900px
    .frequency1, .frequency1Values, .frequency7, .frequency7Values
      margin-top 45px
    .frequency2, .frequency2Values, .frequency8, .frequency8Values
      margin-top (45 + 1 * 35)px
    .frequency3, .frequency3Values, .frequency9, .frequency9Values
      margin-top (45 + 2 * 35)px
    .frequency4, .frequency4Values, .frequency10, .frequency10Values
      margin-top (45 + 3 * 35)px
    .frequency5, .frequency5Values, .frequency11, .frequency11Values
      margin-top (45 + 4 * 35)px
    .frequency6, .frequency6Values, .frequency12, .frequency12Values
      margin-top (45 + 5 * 35)px

.settings.qrcode
  .body
    .qrcodeWrapper
      position absolute
      width 300px
      height 300px
      background-color colorWhite
      margin 0
      text-align center
      top (appHeight / 2) - (300px / 2)
      left (appWidth / 2) - (300px / 2)
      img
        margin-top 50px
        display inline-block !important

.settings.mediaInformation
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "media_information.png")
      background-position bottom
  .body
    .driveType
      text-transform capitalize

caInfoItemHeight = 78px
.settings.caInformation
  .body
    width 1254px
    padding-top 125px
    .interfaceVersion, .smartCardNumber, .numberOfSessions, .language, .caSysId, .chipId
      height caInfoItemHeight
      margin 0 0 0 23px
      border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
      div
        line-height caInfoItemHeight
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "ca_information.png")
      background-position bottom

.settings.smartcardPinChange, .settings.stbPinChange
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "pin_change.png")
      background-position bottom
      background-size contain

.settings.maturityRating
  .body
    .smartCardPin
      .content
        .item0
          margin-left 50px
    .applicationIcon
      .label
        background-image url(settingsImagesPath + "pin_change.png")
        background-position bottom
        background-size contain


.settings.ethernetSettings, .fti.ethernetSettings
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "ethernet_settings.png")
      background-position bottom
    .content
      text-align left !important
  .configuration
    .item
      text-transform uppercase
  .labelComponent
    .label
      width 300px
    .content
      width 335px
      text-align center

wifiItemHeight = 74.5px
wifiDetailsTop = 222px
wifiDetailsHeight = 48px
.settings.wifiSettings, .fti.wifiSettings
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "wifi.png")
      background-position bottom
  .body
    padding-top 146px
    .turn
      margin-left 45px
      .label
        width 220px
    .connected
      position absolute
      width 28px
      height 95px
      right 46px
      top 125px
      margin 0
      background-image url(amcoImagesPath + "icon_wifi_off.png")
      background-position center
      background-repeat no-repeat
    .connected.online
      background-image url(amcoImagesPath + "icon_wifi_on.png")
    .wifiDetailsWrapper
      position absolute
      right 27px
      top 125px
      width 513px
      height auto
      margin 0
      .currentAP, .ipAdress, .subnetMask, .defaultGateway, .dns, .macAddress, .status
        position relative
        width 100%
        height wifiItemHeight
        margin 0
        border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
        div
          color colorWhite
          font-family 'Roboto', 'Fallback-Regular'
          font-size 24px
          line-height wifiItemHeight
        .label
          width 40%
          text-indent 10px
          line-height wifiItemHeight
        .content
          width 55%
          opacity 0.4
          line-height wifiItemHeight
          font-size 20px
      .currentAP
        height 97px
        border-left 2px solid colorGrayClaroWithOpacity(0.1)
        .label
          width 0
          margin 0
        .content
          opacity 1
          overflow hidden
          white-space nowrap
          text-overflow ellipsis
          width 512px
          text-indent 30px
          font-size 24px
          line-height 95px
      .ipAdress
        position relative
      .subnetMask
        position relative
      .defaultGateway
        position relative
      .dns
        position relative
      .macAddress
        position relative
    .wifiAPs
      position absolute
      height auto
      width 740px - 23px
      top wifiDetailsTop
      margin 0
      left 23px
      border-right 2px solid colorGrayClaroWithOpacity(0.1)
      border-top 2px solid colorGrayClaroWithOpacity(0.1)
      .counter
        position absolute
        top -125px
        right 0
        height 20px
        font-family 'Roboto', 'Fallback-Regular'
        font-size 20px
        color colorWhite
        width 473px
        div
          position relative
          float right
          height 100%
          line-height 20px
          margin-left 4px
          width auto
          display inline-block
        .countWhat, .countTitle
          text-transform capitalize
      .traversableListItem
        position relative
        border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
        width 100%
        height wifiItemHeight
        line-height wifiItemHeight
        .selector
          position absolute
          height 50px
          width 680px
          margin 0
          top 10px
          left 20px
        .autoConnect
          position absolute
          left 510px
          font-size 18px
        .title
          position absolute
          line-height wifiItemHeight
          left 44px
          width 450px
        .security
          position absolute
          left 580px
          font-size 18px
        .signalLevel
          background-repeat no-repeat
          position absolute
          width 35px
          height 100%
          right 30px
          background-image url(settingsImagesPath + "Signal4.png")
          background-position center right
    .wifiAPs.selected
      .traversableListItem.selected
        .title
          font-weight 900
        .selector
          border-radius 300px
          border 2px solid colorWhiteClaro
        .counter
          .current, .separator
            display inline-block

.settings.version
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "version.png")
      background-position center bottom
      width 65px
      height 53px
    .title
      left 249px
  .body
    width 1254px
    padding-top 125px
    div
      margin 0 0 0 23px
    .uaPairingId, .stbSerialNo, .cardNumber, .bootVersion, .softwareVersion, .softwareVersionDate, .hardwareVersion, .modelNumber
      height 58px
      font-family 'Roboto', 'Fallback-Regular'
      font-size 24px
      line-height 58px
      overflow hidden
      border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
      .label
        margin-left 33px
        width 350px
      .content
        width 500px

tokensListTopMargin = 0px
casListWidth = 1230px
xStatusItemHeight = 65.5px
xStatusCol1Width = 125px
.settings.tokensStatus, .settings.debitStatus, .settings.creditStatus, .settings.subscriptionStatus, .settings.eventStatus, .settings.mailbox
  .tokensList, .debitList, .creditList, .subscriptionList, .eventList, .mailboxList
    position absolute
    height auto
    width casListWidth
    margin tokensListTopMargin 0 0 0
    left 0
    top 125px
    margin-left 23px !important
    .columnTitle
      height 72px
      line-height 72px
      font-size 22px
      font-weight 900
      margin 0
      border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
    .counter
      position absolute
      top (-28px - tokensListTopMargin)
      right 0
      height 20px
      font-family 'Roboto', 'Fallback-Regular'
      font-size 20px
      color colorWhite
      width 990px
      div
        position relative
        float right
        height 100%
        line-height 20px
        margin-left 4px
      .countTitle:first-letter
        text-transform uppercase
      .countWhat
        display none
      .current
        width 30px
        text-align right
    .listItem
      position relative
      height xStatusItemHeight
      width 100%
      border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
      font-family 'Roboto', 'Fallback-Regular'
      font-size 22px
      font-weight 300
      color colorWhite
      .selector
        position absolute
        height 40px
        width 1229px - 20px
        margin 0
        top 10px
        left 10px
      div
        float left
        margin-left 180px
        height 100%
        line-height xStatusItemHeight
      .col1
        display inline-block
        width xStatusCol1Width
        margin-left 0
        text-align center
      .col2
        display inline-block
        width 670px
        margin-left 15px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
      .col3
        display inline-block
        width 370px
        margin-left 15px
        padding-right 15px
        text-align right
      .col4
        display inline-block
        margin-left 15px
        padding-right 15px
        text-align right
    .listItem.selected
      .selector
        border-radius 300px
        border 2px solid colorWhiteClaro
  .tokensList.selected, .debitList.selected, .creditList.selected
    display initial !important

.settings.mailbox
  .mailboxList
    .listItem
      height 66.5px
      .col2
        width 830px
        text-overflow ellipsis
        white-space nowrap
      .col3
        width 200px


.settings.tokensStatus, .settings.mailbox
  .tokensList, .mailboxList
    .columnTitle
      div
        color colorWhiteClaro
      .title1
        width xStatusCol1Width
        text-align center
      .title2
        width 670px
        margin-left 15px
      .title3
        width 370px
        margin-left 15px
        padding-right 15px
        text-align right

.settings.debitStatus
  .debitList
    .counter
      .countTitle
        float left
        margin-left -43px
    .listItem
      .col2
        display inline-block
        width 540px
        margin-left 15px
      .col3
        display inline-block
        width 85px
        margin-left 15px
        padding-right 15px
        text-align right
      .col4
        display inline-block
        width 385px
        margin-left 15px
        padding-right 15px
        text-align right
    .columnTitle
      div
        color colorWhite
      .title1
        width xStatusCol1Width
        text-align center
      .title2
        width 540px
        margin-left 15px
      .title3
        width 85px
        margin-left 15px
        padding-right 15px
        text-align right
      .title4
        width 385px
        margin-left 15px
        padding-right 15px
        text-align right

.settings.creditStatus
  .creditList
    .counter
      .countTitle
        float left
        margin-left -43px
    .columnTitle
      div
        color colorWhite
      .title1
        width xStatusCol1Width
        text-align center
      .title2
        width 670px
        margin-left 15px
      .title3
        width 370px
        margin-left 15px
        padding-right 15px
        text-align right

subscriptionListItemHeight = 133px
subscriptionCol1Width = 125px
.settings.subscriptionStatus
  .subscriptionList
    .counter
      .countTitle
        float left
        margin-left 85px
    .listItem
      position relative
      height subscriptionListItemHeight
      .selector
        position absolute
        height 110px
        width 1229px - 20px
        margin 0
        top 10px
        left 10px
      .col1
        position absolute
        width subscriptionCol1Width
        height subscriptionListItemHeight
        line-height subscriptionListItemHeight
        margin 0
        padding 0
      .col2
        display inline-block
        width ((casListWidth - subscriptionCol1Width) / 4)px
        height subscriptionListItemHeight
        line-height subscriptionListItemHeight
        margin-left subscriptionCol1Width
      .col3, .col4, .col5, .col6, .col7, .col8
        height (subscriptionListItemHeight / 2)px
        text-align center
        margin 0
        padding 0
      .col3
        display inline-block
        width ((casListWidth - subscriptionCol1Width) / 4)px
        line-height 85px
      .col4
        display inline-block
        width ((casListWidth - subscriptionCol1Width) / 4)px
        line-height 85px
      .col5
        display inline-block
        width ((casListWidth - subscriptionCol1Width) / 4)px
        line-height 85px
      .col6
        display inline-block
        width ((casListWidth - subscriptionCol1Width) / 4)px
        line-height 45px
      .col7
        display inline-block
        width ((casListWidth - subscriptionCol1Width) / 4)px
        line-height 45px
      .col8
        display inline-block
        width ((casListWidth - subscriptionCol1Width) / 4)px
        line-height 45px
    .columnTitle
      div
        color colorWhiteClaro
      .title1
        width subscriptionCol1Width
        text-align center
      .title2
        width ((casListWidth - subscriptionCol1Width) / 4)px
        text-align left
      .title3
        width ((casListWidth - subscriptionCol1Width) / 4)px
        text-align center
      .title4
        width ((casListWidth - subscriptionCol1Width) / 4)px
        text-align center
      .title5
        width ((casListWidth - subscriptionCol1Width) / 4)px
        text-align center
    .listItem.selected
      .selector
        border-radius 300px
        border 2px solid colorWhiteClaro


eventStatusItemHeight = 65.5px
eventStatusCol1Width = 125px
.settings.eventStatus
  .eventList
    .counter
      .countTitle
        float left
        margin-left 85px
    .listItem
      height eventStatusItemHeight
      line-height eventStatusItemHeight
      > div
        line-height eventStatusItemHeight
      .col1
        width eventStatusCol1Width
      .col2
        display inline-block
        width 395px
        margin-left 15px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
      .col3
        display inline-block
        width 170px
        margin-left 15px
        padding-right 15px
        text-align center
      .col4
        display inline-block
        width 170px
        margin-left 15px
        padding-right 15px
        text-align center
      .col5
        display inline-block
        width 230px
        margin-left 15px
        padding-right 50px
        text-align right
    .columnTitle
      .title1
        width eventStatusCol1Width
        text-align center
      .title2
        width 395px
        margin-left 15px
      .title3
        width 170px
        margin-left 15px
        padding-right 15px
        text-align center
      .title4
        width 170px
        margin-left 15px
        padding-right 15px
        text-align center
      .title5
        width 230px
        margin-left 15px
        padding-right 50px
        text-align right
    .listItem.selected
      .selector
        border-radius 300px
        border 2px solid colorWhiteClaro

.settings.playStreams
  .applicationIcon
    .label
      background-image url(settingsImagesPath + "ethernet_settings.png")
      background-position bottom
  .body
    .streamsList
      position absolute
      height auto
      width 920px
      top 165px
      margin 0
      left 180px
      .counter
        position absolute
        top -24px
        right 0
        height 20px
        font-family 'Roboto'
        font-size 20px
        color colorWhite
        width 473px
        div
          position relative
          float right
          height 100%
          line-height 20px
          margin-left 4px
          width auto
          display inline-block
        .countWhat, .countTitle
          text-transform capitalize
        .current, .separator
          display none
      > div:not(.counter)
        position relative
        width 100%
        height 54px
        line-height 54px
        margin-bottom 3px
        background-color rgba(242, 242, 242, 0.2)
      .listItem
        .label
          display none
        .value
          padding-left 20px
          width 900px
    .streamsList.selected
      > div.selected
        background-color rgba(242, 242, 242, 1)
        color  rgba(14, 41, 55, 0.8);
      .current, .separator
        display inline-block

speedWrapperWidth = 500px
speedWrapprHeight = 250px
unselectedOpacity = 0.4
.settings.speedTest
  .body
    .speedWrapper
      position absolute
      width speedWrapperWidth
      height speedWrapprHeight
      top ((appHeight / 2) - (speedWrapprHeight / 2))px
      left ((appWidth / 2) - (speedWrapperWidth / 2))px
      margin 0
      .simpleLabelComponent
        position absolute
        bottom 0
        width 90px
        background-color colorWhite
      .speed_1
        opacity unselectedOpacity
        height 20%
        left 0
      .speed_2
        opacity unselectedOpacity
        height 40%
        left 100px
      .speed_3
        opacity unselectedOpacity
        height 60%
        left 200px
      .speed_4
        opacity unselectedOpacity
        height 80%
        left 300px
      .speed_5
        opacity unselectedOpacity
        height 100%
        left 400px
    .speedWrapper.insufficient
      .speed_1
        opacity 1
        background-color colorRed
      .speed_2, .speed_3, .speed_4, .speed_5
        opacity unselectedOpacity
        background-color colorWhite
    .speedWrapper.minimum
      .speed_1, .speed_2
        opacity 1
        background-color colorYellow
      .speed_3, .speed_4, .speed_5
        opacity unselectedOpacity
        background-color colorWhite
    .speedWrapper.medium
      .speed_1, .speed_2, .speed_3
        opacity 1
        background-color colorOrange
      .speed_4, .speed_5
        opacity unselectedOpacity
        background-color colorWhite
    .speedWrapper.good
      .speed_1, .speed_2, .speed_3, .speed_4
        opacity 1
        background-color colorGreen
      .speed_5
        opacity unselectedOpacity
        background-color colorWhite
    .speedWrapper.optimal
      .speed_1, .speed_2, .speed_3, .speed_4, .speed_5
        opacity 1
        background-color colorGreen
    .speedWrapper.notTestable
      .speed_1, .speed_2, .speed_3, .speed_4, .speed_5
        opacity unselectedOpacity
        background-color colorWhite
    .speedResult
      position absolute
      margin 0
      left 385px
      top 500px
      width speedWrapperWidth
      text-align center

 fileFolderItemHeight = 66.5px
.settings.usbUpdate
  .body
    padding-top 125px
    .applicationIcon
      .label
        background-image url(settingsImagesPath + "ethernet_settings.png")
        background-position bottom
    .simpleListComponent
      position absolute
      width 302px
      height auto
      left 23px
      margin 0
      .itemsWrapper
        width 100%
      .listItem
        font-family 'Roboto', 'Fallback-Regular'
        font-size 22px
        color colorWhite
        text-indent 30px
        position relative
        width 100%
        height fileFolderItemHeight
        line-height fileFolderItemHeight
        border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
        text-transform capitalize
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
      .selector
        width 280px
        height 40px
        top 10px
        left 10px
    .simpleListComponent.selected
      .listItem.selected
        .selector
          border-radius 500px
          border 2px solid colorWhiteClaro
    .simpleListComponent
      .listItem.selected
        font-weight 900
    .traversableListComponent
      position absolute
      height auto
      width 928px
      margin 0
      left 325px
      color colorWhite
      border-left 2px solid colorGrayClaroWithOpacity(0.1)
      .traversableListItem
        border-bottom 2px solid colorGrayClaroWithOpacity(0.1)
        position relative
        width 100%
        height fileFolderItemHeight
        line-height fileFolderItemHeight
      .counter
        position absolute
        top -24px
        right 0
        height 20px
        font-family 'Roboto', 'Fallback-Regular'
        font-size 20px
        color colorWhite
        div
          position relative
          float right
          height 100%
          line-height 20px
          margin-left 4px
        .countWhat, .countTitle
          text-transform capitalize
        .current, .separator
          display none
      .multimediaItem
        .selector
          position absolute
          width 900px
          height 40px
          top 10px
          left 10px
        .icon
          position absolute
          left 30px
          top 0
          width 24px
          height 100%
          div
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-repeat no-repeat
            background-position center
            visibility hidden
          .fileSelected
            background-image url(amcoImagesPath + "icon_file.png")
          .fileUnselected
            background-image url(amcoImagesPath + "icon_file.png")
          .folderSelected
            background-image url(amcoImagesPath + "icon_folder.png")
          .folderUnselected
            background-image url(amcoImagesPath + "icon_folder.png")
        .title
          font-family 'Roboto', 'Fallback-Regular'
          font-size 22px
          position absolute
          left 70px
          height 100%
          width 830px
          line-height fileFolderItemHeight
          text-overflow ellipsis
          overflow hidden
          white-space nowrap
      .multimediaItem.folder
        .folderUnselected
          visibility visible
        .folderSelected
          visibility hidden
      .multimediaItem.file
        .fileUnselected
          visibility visible
        .fileSelected
          visibility hidden
    .traversableListComponent.selected
      > div.selected
        .title
          font-weight 900
        .selector
          border-radius 500px
          border 2px solid colorWhiteClaro
      .current, .separator
        display block
      .multimediaItem.selected.folder
        .folderSelected
          visibility visible
        .folderUnselected
          visibility hidden
      .multimediaItem.selected.file
        .fileSelected
          visibility visible
        .fileUnselected
          visibility hidden
