@require "../variables"

.volumeBar
  position absolute
  height 54px
  top 32px
  width 270px
  right 35px
  background-color colorBlackClaro
  border-radius 12px
  border 2px solid colorWhite
  z-index 10000000
  .vbIcon
    position absolute
    width 25px
    height 100%
    left 7px
    top 0
    .vbUnmuted, .vbMuted
      position absolute
      top 0
      left 0
      width 100%
      height 100%
    .vbUnmuted
      background url(volumeBarImagesPath + "volume.png")
      background-position center
      background-repeat no-repeat
    .vbMuted
      visibility hidden
      background url(volumeBarImagesPath + "volume_mute.png")
      background-position center
      background-repeat no-repeat
  .vbProgressWrapper
    position absolute
    width 225px
    height 37px
    left 37px
    top 8px
    overflow hidden
    background-color colorBlackClaro
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5, .vol_6, .vol_7, .vol_8, .vol_9, .vol_10, .vol_11, .vol_12, .vol_13, .vol_14, .vol_15
      width 10px
      height 100%
      background-color colorGrayClaro
      border-radius 3px
      float left
      margin-right 5px
  .vbProgressWrapper.progress_1
    .vol_1
      background-color colorWhite
  .vbProgressWrapper.progress_2
    .vol_1, .vol_2
      background-color colorWhite
  .vbProgressWrapper.progress_3
    .vol_1, .vol_2, .vol_3
      background-color colorWhite
  .vbProgressWrapper.progress_4
    .vol_1, .vol_2, .vol_3, .vol_4
      background-color colorWhite
  .vbProgressWrapper.progress_5
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5
      background-color colorWhite
  .vbProgressWrapper.progress_6
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5, .vol_6
      background-color colorWhite
  .vbProgressWrapper.progress_7
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5, .vol_6, .vol_7
      background-color colorWhite
  .vbProgressWrapper.progress_8
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5, .vol_6, .vol_7, .vol_8
      background-color colorWhite
  .vbProgressWrapper.progress_9
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5, .vol_6, .vol_7, .vol_8, .vol_9
      background-color colorWhite
  .vbProgressWrapper.progress_10
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5, .vol_6, .vol_7, .vol_8, .vol_9, .vol_10
      background-color colorWhite
  .vbProgressWrapper.progress_11
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5, .vol_6, .vol_7, .vol_8, .vol_9, .vol_10, .vol_11
      background-color colorWhite
  .vbProgressWrapper.progress_12
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5, .vol_6, .vol_7, .vol_8, .vol_9, .vol_10, .vol_11, .vol_12
      background-color colorWhite
  .vbProgressWrapper.progress_13
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5, .vol_6, .vol_7, .vol_8, .vol_9, .vol_10, .vol_11, .vol_12, .vol_13
      background-color colorWhite
  .vbProgressWrapper.progress_14
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5, .vol_6, .vol_7, .vol_8, .vol_9, .vol_10, .vol_11, .vol_12, .vol_13, .vol_14
      background-color colorWhite
  .vbProgressWrapper.progress_15
    .vol_1, .vol_2, .vol_3, .vol_4, .vol_5, .vol_6, .vol_7, .vol_8, .vol_9, .vol_10, .vol_11, .vol_12, .vol_13, .vol_14, .vol_15
      background-color colorWhite

  .vbStatus
    font-family 'Roboto', 'Fallback-Regular'
    font-size 20px
    color colorSoftBlue
    div
      height 100%
      float left
    .vbValue
      margin-left 240px
      visibility hidden
.volumeBar.mute
  .vbUnmuted
    visibility hidden
  .vbMuted
    visibility visible
